<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body class="transaction-body">
    <div class="new-transact-container">
      <div class="transaction-header">
        <h3>New transaction of amount Rs.<%= @tx.amount %></h3>
      </div>
      <table class="transaction-details">
        <tr>
          <td>Date:</td>
          <td class="tx-value"><%= @tx.date %></td>
        </tr>
        <tr>
          <td>Amount:</td>
          <td class="tx-value"><%= @tx.amount %></td>
        </tr>
        <tr>
          <td>Sent/Received:</td>
          <td class="tx-value"><%= @tx.send_receive %></td>
        </tr>
        <tr>
          <td>Transacted By:</td>
          <td class="tx-value"><%= @tx.action_by %></td>
        </tr>
        <tr>
          <td>Remark:</td>
          <td class="tx-value"><%= @tx.remark %></td>
        </tr>
      </table>
    <div>
  </body>
</html>
